div {
  text-align: center;
  margin-top: 80px;
}
h1 {
  font-size: 32px;
  margin-bottom: 10px;
}
h2 {
  font-size: 48px;
  margin: 20px 0;
}
.btn-section {
  margin-top: 20px;
}
button {
  padding: 10px 18px;
  margin: 0 6px;
  font-size: 18px;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-color: #4609ed;
  color: white;}
.reset{
      background-color: red;
}
button:hover {
  transform: scale(1.05);
}
button:active {
  transform: scale(0.95);
}
